*.egg
*.egg-info
*.mo
*.py[cod]
*.so
*.sublime-project
*.sublime-workspace
.coverage
.installed.cfg
.project
.tox
__pycache__/
bin
build
develop-eggs
dist
sublime_plugin_lib/docs/_build/
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
